// Wide Screen XL
@include mediaXl{
    /* .projects-info {
        grid-template-columns: repeat(4, 1fr);
    } */

}
// Desktop Screen Lg
@include mediaLg{
    /* .projects-info {
        grid-template-columns: repeat(3, 1fr);
    } */
}
// Tablet/ Small Laptops Screen Md
@include mediaMd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }

        &#home {
            grid-template-areas: 
            'r1c1'
            'r1c2'
            'r2'
            'r3c1'
            'r3c2'
            'r3c3';      
            grid-template-columns: 1fr;
            grid-gap: 3px;
            padding: 1.1rem;  
            .r2 {
                margin: 0%;
            }
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100% , 0 ,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100% , 0 ,0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1';
        grid-template-columns: 1fr;
    }

   /*  .projects-info {
        grid-template-columns: repeat(2, 1fr);
    } */
}

// Smart Phone Screen Sm
@include mediaSm{

    main#home h1 {
        margin-top: 10vh;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100% , 0 ,0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    /* .projects-info {
        grid-template-columns: 1fr;
    } */
}